FIRECRAWL_KEY="YOUR_KEY"
# If you want to use your self-hosted Firecrawl, add the following below:
# FIRECRAWL_BASE_URL="http://localhost:3002"

# OpenAI Configuration
OPENAI_KEY="YOUR_KEY"

# Azure OpenAI Configuration (Optional)
# AZURE_OPENAI=true
# AZURE_RESOURCE_NAME="your-resource-name" # From Azure portal, e.g. for this endpoint https://myorg-swedencentral.openai.azure.com/openai/deployments/o3-mini/chat/completions?api-version=2024-12-01-preview use "myorg-swedencentral"
# AZURE_API_KEY="your-api-key" # From Azure portal > Keys and Endpoint > Key 1 or Key 2
# AZURE_API_VERSION="2024-12-01-preview" # From Target URI in Endpoint section end (NOT in Deployment Info section, it's wrong), e.g. ?api-version=2024-12-01-preview

# If you want to use other OpenAI compatible API, add the following below:
# OPENAI_ENDPOINT="http://localhost:11434/v1"
# OPENAI_MODEL="llama3.1"

CONTEXT_SIZE="128000"
